.link--button {
  border: none;
  color: #005ea5;
  font-size: 1.1875rem;
  text-decoration: underline;
  background-color: transparent;
}

#green {
  display: none;
  padding: 10px;
  background-color: #6f6;
}

#red {
  display: none;
  padding: 10px;
  background-color: #f44;
}

#courseStartDate {
  display: none;
}

input[value="specific"]:checked ~ #courseStartDate {
  display: block;
}
